@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tablet-img-1 {
    display: none;
    margin: 15px;
}

.mobile-img {
    width: 100%;
}

header > h1, p, .btn {
    margin: 0 15px;
}

.header-title {
   width: 343px;
   height: 110px;
   font-family: 'Big Shoulders Display';
   font-style: normal;
   font-weight: 900;
   font-size: 60px;
   line-height: 55px;
   color: #151515;
   margin-top: 32px;
}

.header-paragraph {
    width: 343px;
    height: 112px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: gray;
    margin-top: 32px;
}

.btn {
    display: flex;
    margin-top: 64px;
}

div > a {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.button-1 {
    width: 207px;
    height: 72px;
    background:  #151515;
}

.button-2 {
    width: 56px;
    height: 72px;
    background: #D5966C;
    
    
}

section {
   
}
.image-grid-1 {
    width: 343px;
    height: 320px;
    background-image: url(./assets/mobile/image-grid-1.jpg);
    background-repeat: no-repeat;
    margin-top: 120px;
}

.section-title {
    width: 343px;
    height: 90px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    color: #151515;
    margin-top: 25px;
}

.section-paragraph {
    width: 343px;
    height: 112px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    margin-top: 21px;
    color: gray;
}

.image-grid-2 {
    width: 343px;
    height: 480px;
    background-image: url(./assets/mobile/image-grid-2.jpg);
    background-repeat: no-repeat;
    margin-top: 32px;
}

.image-grid-3 {
    width: 343px;
    height: 200px;
    background-image: url(./assets/mobile/image-grid-3.jpg);
    background-repeat: no-repeat;
    margin-top: 16px;
}

.black-box {
    width: 343px;
    height: 293px;
    background: #151515;
    margin-top: 16px;
    margin-bottom: 120px;
}



.box-h1 {
    width: 295px;
    height: 90px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    color: white;
    
}

.box-p {
    width: 295px;
    height: 84px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: white;
    
    margin-top: 24px;
}

footer {
    width: 100%;
    height: 336px;
    background: #151515;
}

.footer-logo {
    margin: 0 32px;
    margin-top: 48px;
}

.footer-p {
    width: 343px;
    height: 104px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color:white;
    margin: 0 32px;
}

.links {
    display: flex;
    gap: 20px;
    margin: 0 32px;
    margin-top: 76px;
}

@media screen and (min-width: 768px) {
    .mobile-img {
        display: none;
    }

    .tablet-img {
        width: 437px;
        height: 700px;
        background-image: url(./assets/tablet/image-hero.jpg);
    }

    header {
        position: absolute;
        margin: 0 23.3em;
        margin-top: 8em;
        display: grid;
        gap: 24px;
    }

    .header-title {
        width: 339px;
        height: 130px;
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: 65px;
    }

    .section-title {
        width: 223px;
        height: 135px;
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 45px;
        margin: 0 36px;
        margin-top: 12%;
    }

    section {
        margin-top: 120px;
    }

    .section-paragraph {
        width: 223px;
        height: 140px;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        margin: 0 36px;
       
    }

    .image-grid-1, .image-grid-2, .image-grid-3 {
        display: none;
    }

    .tablet-img-1 {
        display: block;
        width: 398px;
        height: 400px;
        background-image: url(./assets/tablet/image-grid-1.jpg);
    }


   .flex {
        display: flex;
        
        justify-content: center;
   }

   .tablet-img-2 {
        width: 398px;
        height: 720px;
        background-image: url(./assets/tablet/image-grid-2.jpg);
   }

   .tablet-img-3 {
        width: 280px;
        height: 313px;
        background-image: url(./assets/tablet/image-grid-3.jpg);
   }

   .flex-1 {
        display: flex;
        justify-content: center;
        gap: 11px;
   }

   .black-box {
        width: 280px;
        height: 396px;
        margin-top: 11px;
   }

   .box-h1 {
        width: 223px;
        height: 90px;
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 45px;
   }

   .box-p {
        width: 223px;
        height: 112px;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        align-items: center;
   }

   footer {
    height: 216px;
   }


   .footer-logo {
    width: 110.05px;
    height: 40px;
    margin: 0 39px;
    margin-top: 56px;
}


.footer-p {
    width: 281px;
    height: 104px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    margin: 0 214px;
    margin-top: -90px;

    
}
.links {
    margin: 0 628px;
    margin-top: -56px;
}
}



